@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.tema-claro{
    background-color: #f1f1f1;
    transition: background 0.2s linear;
}

body.tema-escuro{
    background-color: #232c35;
}

.main-login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row-login{
    width: 100vw;
    height: 100vh;
}

.side-image{
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#bg-login{
    background-image: url('../../static/imgs/bg2.jpg');
}

#bg-cadastro{
    background-image: url('../../static/imgs/bg1.jpg');
}

.logo-login{
    width: 105px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.text-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 42px;
    font-family: 'Sarala', sans-serif;
    font-weight: 500;
}

i{
    font-weight: 400;
    font-size: 22px;
}
.user-description{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 7px 20px;
    border-radius: 7px;
    margin-bottom: 15px;
}   
.user-description .username{
    font-size: x-large;
    font-family: 'Sarala', sans-serif;
}
.user-description .user{
    font-size: large;
    font-family: 'Sarala', sans-serif;
    margin-top: -10px;
    opacity: 0.5;
}

.user-description .texto-user{
    margin-top: 0px;
    font-size: 20px;
    font-family: 'Sarala', sans-serif;
}

hr {
    position: relative;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.312);
    width: 100%;
    height: 0.1px;
}
.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-box{
    width: 400px;
    box-sizing: border-box;
}

.input-box header{
    font-family: 'Righteous', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
    font-size: 30px;
}

.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input-field-checkbox{
    display: flex;
    flex-direction: row;
    padding: 0 0 0 15px;
    align-items: center;
    margin-bottom: 10px;
}

.input-field-date{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0 10px 0 10px;
    margin-bottom: 30px;
}

.input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0,0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

.input-field-checkbox label{
    margin-left: 10px;
    font-size: 14px;
}

.input-field-date label{
    margin-right: 15px;
}

.input-box .input-field-checkbox input:checked{
    background-color: blue;
}

.input-box .input-field label{
    position: absolute;
    top: 10px;
    pointer-events: none;
    transition: 0.5s;
}

.input-box .input:focus ~ label{
    top: -10px;
    font-size: 13px;
}

.input-box .input:valid ~ label{
    top: -10px;
    font-size: 13px;
    color: #5d5076;
}

.submit{
    border: none;
    outline: none;
    height: 42px;
    background: #727BD7;
    color: white;
    border-radius: 5px;
    transition: 0.4s;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    transition: 0.1s;
}

.submit:hover{
    background: #6060abd4;
    
}

.singin{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}

span a{
    text-decoration: none;
    font-weight: 700;
    color: rgba(0, 0, 0,0.8);
    transition: 0.5s;
}

span a:hover{
    text-decoration: underline;
}

/* Style MainScreen */
nav{
    background-color: #f08080;
    top: -10px;
    border-bottom: 1px solid lightgray;
    box-shadow: 2px 2px 2px lightgray;
}

.navbar-dark{
    background-color: #151b20;
    border-bottom: 1px solid rgb(19, 19, 19);
    box-shadow: 2px 2px 2px rgb(19, 19, 19);
}

.nav-content{
    width: 100%;
    height: 90px;
}

.brand-content{
    display: flex;
    justify-content: center;
}

.search-bar{
    position: relative;
    width: 60%;
    display: block;
    margin: auto;
    height: 100%;
}

.input-search{
    height: 45px;
    width: 100%;
    border-radius: 20px;
    padding-left: 42px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgb(78, 78, 78);
    background-color: #fff;
    border: 1px solid lightgray;
    overflow: hidden;
}

.input-search:focus{
    border: none;
    outline: none;
}

.button-search{
    position: absolute;
    left: 15px;
    top: 24%;
    background-color: transparent;
    border: none;
}

.list-group .item-de-menu{
    background-color: white;
}

#botao-cadastro{
    background-color: #727BD7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    transition: 0.1s;
}

/* Messages */

ul.messages {
    padding: 0;
    margin: 0;
}

ul.messages li{
    list-style: none;
    border: none;
    font-family: "Sarala", sans-serif;
    font-weight: 600;
}

ul.messages li.hidden{
    display: none;
}

.botoes-controle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
}

.botao-deleta{
    display: flex;
    background-color: #F07F7F;
    color: white;
    border: none;
    width: 25%;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.401);
    transition: 0.4s;
}

.botao-deleta:hover{
    background-color: #ed4646;
    box-shadow: 3px 3.5px 4px rgba(0, 0, 0, 0.462);
}

.botao-atualiza{
    display: flex;
    background-color: #F0D77F;
    color: white;
    border: none;
    width: 25%;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.401);
    transition: 0.4s;
}

.botao-atualiza:hover{
    background-color: #efcc4d;
    box-shadow: 3px 3.5px 4px rgba(0, 0, 0, 0.462);
}

.botao-concluir{
    display: flex;
    background-color: #7FF09F;
    color: white;
    border: none;
    width: 25%;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.401);
    transition: 0.4s;
}

.botao-concluir:hover{
    background-color: #3fee70;
    box-shadow: 3px 3.5px 4px rgba(0, 0, 0, 0.462);
}

.botao-restaurar{
    display: flex;
    background-color: #7FF09F;
    color: white;
    font-weight: 600;
    text-decoration: none;
    border: none;
    width: 60%;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.401);
    transition: 0.4s;
}
.botao-restaurar:hover{
    background-color: #3fee70;
    box-shadow: 3px 3.5px 4px rgba(0, 0, 0, 0.462);
}

#botao-cadastro:hover{
    background-color: #6060abd4;
}

#botao-menu {
    background-color: #6060AB;
    color: white;
    margin: 10px;
}

.botao-temaEscuro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    opacity: .9;
}

.checkbox{
    opacity: 0;
    position: absolute;
    
}

.label-temaEscuro{
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label-temaEscuro .ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label-temaEscuro .ball {
    transform: translateX(24px);
}

/*iframe Tela de Cadastro*/

.telaCadastro{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);;
    animation: fadeIn 0.5s ease-in-out;
    z-index: 1;
}

.conteudo-cadastro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    height: 70%;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.editaTarefa{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.mesagemSemTarefas-dark{
    color: white;
}

/*iframe Tela de Tarefa*/

.telaTarefa{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);;
    animation: fadeIn 0.5s ease-in-out;
    z-index: 1;
}

.conteudo-tarefa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    height: 70%;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

/* Paginação */

.pagina{
    margin-top: 21px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagina.dark{
    color: white;
}

.step-links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .sessaoAtual{
    margin: 0 5px;
}

.setaNavegacao{
    color:black;
}

.setaNavegacao.dark{
    color: lightgrey;
}

.tituloHistorico{
    font-size: 27px;
    margin: 10px;
    font-family: 'Righteous', sans-serif;
    color: black;
    font-weight: 400;
}

.dark{
    color: white;
}

/* Dashboard */

.dashboard {
    padding: 0;
    width: 100%;
    display: block;
    margin-bottom: 0px;
}

.dashboard h4{
    font-size: 20px;
    font-family: 'Righteous', sans-serif;
}

.dashboard span{
    font-size: 40px;
    display: block;
    width: 100%;
}

.dashboard-box{
    float: left;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

#donutchart{
    max-width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-top: -40px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media(max-width: 720px){
    .conteudo-cadastro{
        width: 95%;
    }
    .conteudo-tarefa{
        width: 95%;
    }
    .search-bar{
        width: 90%;
    }
    .botoes-controle{
        width: 35%;
        height: 33px;
    }
}

@media(min-width: 720px ) and (max-width: 1350px){
    .conteudo-cadastro{
        width: 60%;
    }
    .conteudo-tarefa{
        width: 60%;
    }
    .botoes-controle{
        width: 30%;
        height: 33px;
    }
}

/* Landing Page*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap');

html {scroll-behavior: smooth;}

.header{
    z-index: 2;
}

.container-custom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 1rem;
    margin: 0 auto;
}

.logo-image{
    height: 60px;
    width: 60px;
}
.botoesNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}

.botaoLogin{
    text-decoration: none;
    color: rgb(244, 244, 244);
    font-family: 'Montessart', sans-serif;
    font-weight: 400;
    transition: 0.5s;
}

.botaoLogin:hover{
    color: rgb(207, 207, 207);
}

.botaoCadastro{
    text-decoration: none;
    color: rgb(244, 244, 244);
    font-family: 'Montessart', sans-serif;
    font-weight: 400;
    border: 1.7px solid rgb(244, 244, 244);
    border-radius: 7px;
    padding: 7px;
    transition: 0.3s;
}

.botaoCadastro:hover{
    color: rgb(207, 207, 207);
    border: 1.7px solid rgb(207, 207, 207);
}

/*Banner com vídeo*/

.conteiner-video{
    position: relative;
    height: 100vh;
    background-color: #0a1118;
    overflow: hidden;
}

.banner-cabecalho{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.banner-texto {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    width: 80%;
}

@media (max-width: 720px){
    .banner-cabecalho{
        font-size: 20px;
    }
    
}

.video-baner{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%,-50%);
}

.filtro-video{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #1B2B40;
    opacity: 0.6;
    z-index: 1;
}

.texto-banner{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}

.texto-banner-width{
    max-width: 700px;
}

.botaoScroll{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    z-index: 1;
}

.botaoScroll:hover{
    opacity: 0.8;
}

.recursos p{
    text-align: justify;
    font-size: 17px;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151B20;
    height: 40vh;
}

.rodape img{
    width: 100px;
    height: 100px;
}