{% extends "base.html" %}
{% load base64_encode %}
{% block title %}Minhas Tarefas{% endblock title %}Minhas Tarefas

{% block content %}

<div class="col-md-9">
    <!-- Lista de tarefas -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages%}
                <li {% if message.tags %}class="alert alert-{{  message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if tarefas %}
        <ul class="list-group" id="item-tarefa">
            {% for tarefa in tarefas %}
                <!-- Item da lista de tarefas -->
                <li class="list-group-item lista-de-tarefas">
                    <div class="d-flex w-100 justify-content-between">
                        {% with encoded_id=tarefa.id|base64_encode %}
                            <h5 class="mb-1" ><a href="{% url 'verTarefa' encoded_id=encoded_id %}">{{ tarefa.titulo }}</a></h5>
                        {% endwith %}
                        <small class="tempoRestante" data-termino="{{ tarefa.termino }}">{{ tarefa.termino }}</small>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1">{{ tarefa.descricao|default:"-" }}</p>
                        <div class="botoes-controle">
                            <a href="deleta/{{ tarefa.id }}" class="botao-deleta"><i class="bi bi-trash"></i></a>
                            <a href="edit/{{ tarefa.id }}" class="botao-atualiza"><i class="bi bi-pencil"></i></a>
                            <a href="#" class="botao-concluir"><i class="bi bi-check-lg"></i></a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="pagina">
            <span class="step-list">
                {% if tarefas.has_previous %}
                    <a href="?page={{ tarefas.previous_page_number }}"><i class="bi bi-arrow-left setaNavegacao"></i></a>
                {% endif %}
                <span class="sessaoAtual">
                    {{ tarefas.number }} de {{ tarefas.paginator.num_pages }}
                </span>
                {% if tarefas.has_next %}
                    <a href="?page={{ tarefas.next_page_number }}"><i class="bi bi-arrow-right setaNavegacao"></i></a>
                {% endif %}
            </span>
        </div> 
        {% else %}
            <p>Sem tarefas cadastradas</p>
    {% endif %}
</div>

<script>
    //Script para cálcular os dias restantes das tarefas
    var elementosTempoRestante = document.querySelectorAll('.tempoRestante');
    elementosTempoRestante.forEach(function(elementoTempoRestante) {
        var dataDeTerminoDoDB = elementoTempoRestante.getAttribute('data-termino');
        var partesData = dataDeTerminoDoDB.split(" de ");
        var dia = parseInt(partesData[0]);
        var mes = partesData[1];
        var ano = parseInt(partesData[2]);
        var meses = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"];
        var mesNumero = meses.indexOf(mes);
        var dataDeTermino = new Date(ano, mesNumero, dia);
        var dataAtual = new Date();
        dataAtual.setHours(0, 0, 0, 0);
        var diferencaEmMilissegundos = dataDeTermino - dataAtual;
        var diferencaEmDias = Math.ceil(diferencaEmMilissegundos / (1000 * 60 * 60 * 24));  
        if (diferencaEmDias === 0) {
            elementoTempoRestante.innerText = 'Hoje é o último dia!';
        } else if (diferencaEmDias < 0) {
            elementoTempoRestante.innerText = 'Esta tarefa já está atrasada!';
        } else {
            elementoTempoRestante.innerText = diferencaEmDias + ' dias restantes';
        }
    });
</script>
{% endblock  %}
