{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'imgs/logo.png'%}" type="image/x-icon">
    <title>Smoothflow</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!--Bootstrap Stylesheet-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!--Sessão de Cabeçalho-->
    <header class="header p-3 position-absolute start-0 top-0 end-0">
        <div class="d-flex px-3 justify-content-between align-itens-center">
            <a href="/"><img src="{% static 'imgs/logo.png'%}" alt="logo smoothflow" class="logo-image"></a>
            <div class="botoesNav">
                <a href="auth/login/" class="botaoLogin">Entrar</a>
                <a href="auth/cadastro/"class="botaoCadastro">Registrar-se</a>
            </div>
        </div>
    </header>
    <!--Sessão de Vídeo-->
    <section class="conteiner-video">
        <div class="filtro-video"></div>
        <video playsinline="'playsinline" autoplay="autoplay" muted="muted" loop="loop"
        loading="lazy" class="video-baner">
        <source src="{% static 'videos/index_video.mp4' %}" type="video/mp4">
        </video>

        <div class="texto-banner h-100 container-custom position-relative">
            <div class="d-flex h-100 align-items-center texto-banner-width">
                <div class="text-white">
                    <h1 class="banner-cabecalho fw-bold mb-3">Organize sua vida, conquiste seus objetivos.</h1>
                    <p class="banner-texto mb-4">Transforme o caos em produtividade com o nosso gerenciador de tarefas intuitivo.</p>
                    <a href="auth/cadastro/" class="banner-botao mt-2 btn btn-md btn-outline-light" role="button">Registre-se Agora</a>
                </div>
            </div>
        </div>
        <a href="#scroll-down" class="botaoScroll">
            Ver mais <i class="bi bi-arrow-down-short"></i>
        </a>
    </section>

    <a id="scroll-down"></a>

    <section class="recursos container-custom p-5">
        <div class="row">
            <div class="col-12 col-sm-6 d-md-flex justify-content-md-ceneter">
                <img src="{% static 'imgs/tarefas-img1.png' %}" alt="Lista de tarefas do site" class="img-fluid p-4 recursos-lista" loading="lazy" width="100%" height="100%">
            </div>
            <div class="col-12 col-sm-5 align-self-center justify-content-md-ceneter">
                <h2>1. Gerenciador de tarefas eficiente</h2>
                <p>Aproveite uma lista de tarefas interativa, onde você pode gerenciar cada item com facilidade. Exclua tarefas desnecessárias, atualize informações importantes ou marque como concluídas com apenas um clique. Nosso objetivo é oferecer total controle sobre suas atividades, tornando a organização mais prática e eficiente.</p>
            </div>
        </div>
    </section>
    <section class="recursos container-custom" style="background-color: #F1F1F1;">
        <div class="row">
            <div class="col-12 col-sm-5 align-self-center justify-content-md-ceneter p-5">
                <h2>2. Dashboard personalizado para o seu progresso</h2>
                <p>Descubra seu Dashboard Personalizado, criado para oferecer uma visão completa do seu desempenho e progresso. Acompanhe suas tarefas dos últimos 30 dias, visualize pendências e conquistas, tudo de forma organizada em um só lugar.</p>
            </div>
            <div class="col-12 col-sm-6 d-md-flex justify-content-ceneter justify-content-md-ceneter">
                <img src="{% static 'imgs/tarefas-img2.png' %}" alt="Lista de tarefas do site" class="img-fluid p-4 pt-0 recursos-lista" loading="lazy" width="100%" height="100%">
            </div>
        </div>
    </section>
    <section class="recursos container-custom">
        <div class="row">
            <div class="col-12 col-sm-6 d-md-flex justify-content-md-ceneter">
                <img src="{% static 'imgs/tarefas-img3.png' %}" alt="Lista de tarefas do site" class="img-fluid p-4 pt-5 ms-5 mt-2 recursos-lista" loading="lazy" width="70%" height="100%">
            </div>
            <div class="col-12 col-sm-5 align-self-center justify-content-md-ceneter p-5">
                <h2>3. Experiência responsiva em qualquer dispositivo</h2>
                <p>Nosso site é totalmente responsivo, garantindo uma experiência intuitiva e consistente em qualquer dispositivo, seja no celular, tablet ou computador.</p>
            </div>
        </div>
    </section>
    <section class="recursos container-custom" style="background-color: #F1F1F1;">
        <div class="row">
            <div class="col-12 col-sm-5 align-self-center justify-content-md-ceneter p-5">
                <h2>4. Navegue com conforto, mesmo à noite</h2>
                <p>Apresentamos o Modo Noturno no nosso Gerenciador de Tarefas, oferecendo uma experiência mais confortável em qualquer condição de iluminação. Agora, você pode alternar para um tema mais suave, ideal para uso noturno.</p>
            </div>
            <div class="col-12 col-sm-6 d-md-flex justify-content-ceneter justify-content-md-ceneter">
                <img src="{% static 'imgs/tarefas-img4.png' %}" alt="Lista de tarefas do site" class="img-fluid p-4 pt-0 recursos-lista" loading="lazy" width="100%" height="100%">
            </div>
        </div>
    </section>
    <footer class="rodape py-3">
        <a href="/"><img src="{% static 'imgs/logo.png'%}" class="img-fluid" alt="Logo do Rodapé"></a>
      </footer>
    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>